/* variables */
:root {
  --primary-dark: #495e57;
  --primary-light: #f4ce14;
  --secondary-dark-pink: #ee9272;
  --secondary-light-pink: #fbdabb;
  --secondary-white: #edefee;
  --secondary-black: #333333;
}

/* resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

;

/* font family imports */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text&display=swap');

/* text styles */

/* font family setup */
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  text-transform: none;
}

;

.displayTitle,
.subTitle,
.regularTitle {
  font-family: "Markazi Text", serif;
}

;

/* font size setup */
.leadText,
.cardTitle {
  font-size: 18;
}

;

.subTitle,
.regularTitle {
  font-size: 40;
}

;

.displayTitle {
  font-size: 64;
}

;

/* font weight setup */
.displayTitle,
.leadText,
.highlightText {
  font-weight: 500;
}

;

.cardTitle {
  font-weight: 600;
}

;

.sectionTitle,
.sectionCategories {
  font-weight: 700;
}

;

/* setup text transforms */
.sectionTitle {
  text-transform: uppercase;
}

;

/* initial setup */
body {
  background-color: var(--secondary-white);
}

/* not sure why duplicating it makes it work */

body {
  background-color: var(--secondary-white);
}