/* variables */
:root {
  --primary-dark: #495e57;
  --primary-light: #f4ce14;
  --secondary-dark-pink: #ee9272;
  --secondary-light-pink: #fbdabb;
  --secondary-white: #edefee;
  --secondary-black: #333333;
}

/* resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font family imports */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text&display=swap');

/* text styles */

/* font family setup */
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  text-transform: none;
}

.displayTitle,
.subTitle,
.regularTitle {
  font-family: "Markazi Text", serif;
}

/* font size setup */
.leadText,
.cardTitle {
  font-size: 18;
}

.subTitle,
.regularTitle {
  font-size: 40;
}

.displayTitle {
  font-size: 64;
}

/* font weight setup */
.displayTitle,
.leadText,
.highlightText {
  font-weight: 500;
}

.cardTitle {
  font-weight: 600;
}

.sectionTitle,
.sectionCategories {
  font-weight: 700;
}

/* setup text transforms */
.sectionTitle {
  text-transform: uppercase;
}

/* initial setup */
body {
  background-color: var(--secondary-white);
}

#root {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-Style: none;
}

header nav ul li a {
  text-decoration: none;
  padding: 0px 10px;
  color: var(--primary-dark);
}

.hamburgerMenuBtn {
  display: none;
}

footer>div {
  align-items: flex-start;
  margin-bottom: 20px;
  margin: auto 10px;
  text-align: center;
}

/* responsive media queries */

footer,
footer>div,
footer>div>* {
  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    .sectionCategories {
      margin-top: 10px;
    }
  }
}

nav {
  @media (max-width: 768px) {
    ul li a {
      display: none;
    }
  }
}